/* FONTS */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format(woff2);
  font-display: swap;
}

/* COMMON STYLES */
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #ffffff;
}

*, ::before, ::after {
  box-sizing: border-box;
}

.container {
  width: 1240px;
  padding: 0 40px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  object-fit: contain;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* TEXT, TITLES AND LINKS */
/* Text */
.text-bold {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.text-small {
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.text-small-additional {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

/* Titles */
.main-title {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.second-title {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.second-title-white {
  color: #ffffff;
}

.third-title {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}

/* Links */
.link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.link-small {
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #000000;
}

/* BUTTONS */
.button {
  position: relative;
  display: block;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration-line: none;
  color: #000000;
}

.button::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #ffe17f;
  transform: translateY(-4px);
  z-index: -1;
  content: "";
}

/* HEADER */
/* Common Layout */
.page-header {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 30px;
  padding-top: 15px;
}

/* User Menu */
.navigation-user-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.navigation-user-form {
  width: 517px;
  margin-right: 26px;
}

.navigation-user-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navigation-user-item-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.navigation-user-item-wrapper:first-child {
  min-width: 230px;
}

.navigation-user-item-wrapper:last-child {
  margin-left: auto;
  min-width: 240px;
}

.navigation-user-item-link {
  display: block;
  color: #000000;
  text-decoration-line: none;
}

.user-icon {
  padding-left: 27px;
  margin-right: 28px;
}

.compare-icon {
  padding-left: 22px;
  margin-right: 36px;
}

.cart-icon {
  padding-left: 25px;
}

/* Cart Popover */
.popover-open {
  display: none;
}

.cart-popover-product-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.cart-popover-product {
  display: flex;
}

.cart-popover-total {
  display: flex;
  justify-content: space-between;
}

/* Navigation menu */
.navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.subcatalog-list {
  display: none;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-item:not(:last-child) {
  margin-right: 45px;
}

.navigation-item:first-child {
  margin-right: auto;
}

.navigation-link {
  display: block;
  color: #000000;
  text-decoration-line: none;
}

/* MAIN PAGE */
/* Section - Slider */
.promo-slider {
  margin-bottom: 70px;
}

.slide {
  display: flex;
  background: linear-gradient(180deg, #ffe17f 150px, white 150px);
}

.slide:nth-child(5), .slide:nth-child(6) {
  display: none;
}

.advantage-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 20px;
  row-gap: 12px;
}

.advantage-description {
  order: 1;
}
/* Section – Categories */
.goods-categories {
  margin-bottom: 70px;
}

.category-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.category-item {
  width: 160px;
  min-height: 253px;
}

.category-item:not(:last-child) {
  margin-right: 40px;
}

.category-link {
  display: block;
  padding-top: 193px;
  text-decoration: none;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
}

/* Section – Services */
.services {
  min-height: 391px;
  background: linear-gradient(180deg, white 102px, #F0F0F0 102px);
  margin-bottom: 70px;
}

.services-wrapper {
  display: flex;
}

.service-description {
  display: none;
}

.service-description-active {
  display: block;
}

/* Section – Special offer */
.special-offer {
  margin-bottom: 70px;
}

/* Section – Company info */
.company-info {
  display: flex;
  margin-bottom: 70px;
}

/* Section – Subscription */
.subscription {
  margin-bottom: 60px;
}

.subscription-title-description-wrapper {
  display: flex;
}

.subscription-form-wrapper {
  display: flex;
}
/* MONOPODES PAGE */
/* Inner Header */
.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
}

/* Main Catalog */
.catalog-products {
  display: flex;
}

/* Search Results */
.sort-order-menu {
  display: flex;
  flex-wrap: wrap;
}
.product-list-container {
  padding: 70px 40px 78px;
  margin-bottom: 44px;
}

.product-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 44px;
  column-gap: 40px;;
  margin: 0 auto;
}

.product-card {
  display: flex;
  flex-direction: column;
}

.product-card-description {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.product-list-button-more {
  margin: 0 auto;
  margin-bottom: 44px;
}

/* Pagination */
.pagination-container {
  display: flex;
  margin: 0 auto;
}

.pagination {
  display: flex;
}

/* FOOTER */
.footer-wrapper {
  display: grid;
  grid-template-columns: 1fr 119px 1fr 183px 1fr;
  grid-template-rows: 1fr 35px 1fr 62px 1fr;
}

.logo-footer {
  grid-column: 1/2;
  grid-row: 1/2;
}

.footer-address {
  grid-column: 1/2;
  grid-row: 3/4;
}

.footer-navigation {
  grid-column: 3/4;
  grid-row: 3/4;
}

.footer-social-list {
  grid-column: 3/4;
  grid-row: 5/6;
}

.footer-phone {
  grid-column: 5/6;
  grid-row: 3/5;
}

.footer-author-logo-link {
  grid-column: 5/6;
  grid-row: 5/6;
}
